[submodule "Pagamenti2"]
	path = Pagamenti2
	url = https://github.com/AntonioImp/gestionepagamenti.git
[submodule "Prodotti"]
	path = Prodotti
	url = https://github.com/gianluca7cristaudo/MicroserviceOrder1A
[submodule "Ordini"]
	path = Ordini
	url = https://github.com/Ire97/ProgettoDSBD2020-2021.git
[submodule "PingAckFD1"]
	path = PingAckFD1
	url = https://github.com/IngRaffaeleMineo/Progetto5B-HeartBeat.git
