[submodule "gestionepagamenti"]
	path = gestionepagamenti
	url = https://github.com/AntonioImp/gestionepagamenti.git
[submodule "MicroserviceOrder1A"]
	path = MicroserviceOrder1A
	url = https://github.com/gianluca7cristaudo/MicroserviceOrder1A
[submodule "ordersmanagement2B"]
	path = ordersmanagement2B
	url = https://github.com/Ire97/ProgettoDSBD2020-2021.git
[submodule "Progetto5B-HeartBeat"]
	path = PingAckFD1
	url = https://github.com/IngRaffaeleMineo/Progetto5B-HeartBeat.git
[submodule "microserviziProdotti1A"]
	path = microserviziProdotti1A
	url = https://github.com/giuseppesanto67/microserviziProdotti1A.git
